body{
  background-color: #d3d3d3;
}
/* header start */
.profile{
  height: 20px;
  width: 20px;
  padding-top: 12px;
  padding-left: 15px;
}
.wish{
  height: 30px;
  width: 30px;
  padding-top: 9px;
  padding-left: 15px;
}
.cart{
  height: 20px;
  width: 20px;
  padding-top: 12px;
  padding-left: 15px;
}
/* body{
    background-color: #d3d3d3;
} */
nav ul li {
    list-style: none;
    padding: 9px 12px;
} 
img.size {
    width: 70px;
} 
.pad{
    padding-right: 450px;
}
.flex {
    display: flex;
}
.item-center {
    align-items: center;
}
.space-around {
    padding-left: 1px;
    width: 250px;
}
a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
} 
/* header end */
.row{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container{
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;   
}
.col-4{
    flex-basis: 20%;
    padding: 25px;
    min-width: 200px;
    margin-bottom: 50px;

}
.col-4 img{
    width: 100%;
}
body{
    background-color: #d3d3d3;
}
a, a:hover, a:focus, a:active{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.f-container{
  max-width: 1170px;
  margin: auto; 
}
.f-row{
  display: flex;
  flex-wrap: wrap;
}
.footer{
background-color: #d3d3d3;
/* padding: 30px 0; */
}
footer ul li{
  list-style: none;
}
.footer-col{
   width: 23%;
   padding: 0 8px;
}
.footer-col h4{
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
}
